[Unit]
Description=Ceph OSD
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
Environment=HOSTNAME=%H
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p --net=host     -e OSD_TYPE=directory     -e HOSTNAME=${HOSTNAME}     -e KV_TYPE=etcd     -e KV_IP=${COREOS_PRIVATE_IPV4}     -v /etc/ceph:/etc/ceph     -v /var/lib/ceph/osd:/var/lib/ceph/osd     -v /var/log/ceph:/var/log/ceph     ceph/daemon osd
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[X-Fleet]
Global=true

